#dialogMessage textarea{
    width:100%;
}

.close-dialog-btn{
    float:right;
    margin-bottom:5px;
}

.menu-left {
    display: block;
    position: fixed;
    top: 8px;
    width: 13%;
}

.menu-left a {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    color: black;
    display: block;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    text-decoration: none;
    width: 100%;
}

.menu-left a:hover {
    border: 1px solid #aaaaaa;
}

.menu-left a span {
    display: inline;
}

.menu-left h1 {
    margin: 0;
    margin-bottom: 5px;
}

.off-menu-left {
    margin-left: 14.8%;
}


.profile a {
    color: #333333;
    text-decoration: none;
}

.profile a:hover {
    color: navy;
    text-decoration: underline;
}

.profile .avatar {
    border-radius: 50%;
    box-shadow: 0 0 0 1px gray;
}

.profile .username {
    clear: both;
    display: block;
    color: gray;
    font-size: 0.75em;
}

/* dark */
@media (prefers-color-scheme: dark) {

    .menu-left a {
        background-color: black;
        border: 1px solid cyan;
        color: cyan;
    }

    .menu-left a:hover {
        border-color: white;
        color: white;
    }

    .profile a {
        color: #1d9bf0;
        text-decoration: underline;
    }

    /* mobile */
    @media (max-width : 1300px) {
        .menu-left a {
            background: black;
        }
    }

}

/* mobile */
@media (max-width : 1300px) {
    .menu-left {
        width: 55px;
    }

    .menu-left a {
        background-color: black;
        border: 1px solid cyan;
        color: cyan;
        height: 32px;
        padding: 10px;
        width: 32px;
    }

    .menu-left a:hover {
        border-color: white;
        color: white;
    }

    .off-menu-left {
        margin-left: 32px;
    }
}